<div>
  <h1 class="animated fadeIn fast">Sobre Comic App</h1>
  <hr>
  <p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus accusamus aspernatur aliquam sint ullam qui necessitatibus commodi beatae quaerat iusto, eum nobis sit error expedita alias quidem! Mollitia, alias ab.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, dignissimos. Soluta facere, nisi consectetur cumque laboriosam vel, optio debitis esse quod animi quidem illo alias quasi est omnis quia suscipit!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque dolore voluptas voluptate quas minima obcaecati deserunt repellat repudiandae dolorem, doloribus porro, aliquam nemo laboriosam sapiente placeat autem tempora maiores veniam!
  </p>
</div>
