<div>
  <h1 class="animated fadeIn fast">{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
  <hr>

  <div class="row animated fadeIn">
    <div class="col-md-4">
      <img class="img-fluid mb-3" [src]="heroe.img" [alt]="heroe.nombre">
      <a class="btn btn-outline-danger btn-block" routerLink="/heroes">
        Regresar
      </a>
    </div>
    <div class="col-md-8">
      <h3>{{ heroe.nombre }}</h3>
      <hr>
      <p>{{ heroe.bio }}</p>

      <div class="text-center mt-3" *ngIf="heroe.casa == 'Marvel'">
        <img class="img-fluid" src="assets/img/marvel.png" alt="Marvel" height="150" width="150">
      </div>
      <div class="text-center mt-3" *ngIf="heroe.casa == 'DC'">
        <img class="img-fluid" src="assets/img/dc.png" alt="DC" height="150" width="150">
      </div>
    </div>
  </div>
</div>
